@model AfterlifeApp.Models.Order

@{
    ViewData["Title"] = "Download Game";
}

<h2>Download Game</h2>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Game.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Game.Name)
    </dd>
</dl>

<form asp-action="DownloadConfirmed" asp-route-id="@Model.Id" method="post">
    <input type="submit" value="Download" class="btn btn-primary" />
    <a asp-action="Index">Back to List</a>
</form>