@{
    ViewData["Title"] = "AfterlifeStore";
}

<div class="text-center">
    <h1 class="display-4"><strong>Welcome in our Games Store!!!</strong></h1><br />
    <p>You can find here your favorite games :D</p><br />
</div>
